.outside-container {
    margin: 25px;
    border: 1px solid black;
    border-radius: 20px;
    height: calc(100vh - 50px);
    width: calc(100vw - 50px);
}

.title {
    margin: 30px;
    display: flex;
    align-items: center;
}

.tagline {
    display: flex;
    align-items: center;
    margin-left: 30px;
    font-size: 2em;
    font-weight: bold;
    justify-content: center;
}

.prod-name {
    font-size: 2em;
    font-weight: bold;
    margin-right: 70px;
}

.breadcrumbs {
    display: flex;
    align-items: center;
}

.bno {
    background-color: black;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    color: white;

    &.selected {
        background-color: #004D40;
    }
}

.bname {
    font-size: 1em;
    font-weight: bold;
    margin-right: 5px;
}

hr {
    width: 62vw;
    margin-right: 5px;
}

.input-container {
    margin-top: 30px;
    display: flex;
    width: calc(100vw - 50px);
    align-items: center;
    justify-content: center;
}

.label {
    font-size: 18px;
    margin-left: 10px;
}

input {
    outline: 0;
    border-width: 0 0 2px;
    margin-left: 10px;
    height: 40px;
    background-color: #9b9b9b40;
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
    width: 300px;
}

.go {
    background-color: #004D40;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    height: 40px;
    transition: transform 0.2s;

    &:hover {
        transform: scale(1.1);
    }
}

.products-wrapper {
    display: flex;
    justify-content: space-around;
}

.options-container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 30vw;
    height: 50vh;
    background-color: #dde3ea;
    border-radius: 20px;
    overflow-y: auto;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.2s;

    &:hover {
        transform: scale(1);
    }
}

.loader {
    margin: 0 auto;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* width */
::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}

table {
    margin: 30px;
    border-collapse: collapse;
    width: 90vw;
    /* Adjust width as needed */
}

th,
td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    /* Adjust alignment as needed */
}

th {
    background-color: #f2f2f2;
}

.feat-wrapper {
    overflow-y: scroll;
    height: 60vh;
    // background: aliceblue;
    display: flex;
    justify-content: center;
    margin: 15px;
}