<div class="outside-container">
    <div class="title">
        <div class="prod-name">ViewProd</div>
        <div class="breadcrumbs">
            <ng-container *ngFor="let item of breadcrumbs; index as i">
                <div class="bno" [ngClass]="{selected:i+1==currentStage }">{{item.stage}}</div>
                <div class="bname">{{item.name}}</div>
                <div *ngIf="i<breadcrumbs.length-1"><hr></div>
            </ng-container>
        </div>
    </div>
    <div class="tagline">Let's create a product</div>
    <div class="inside-container">
        <div class="input-container">
            <div class="label">Our Customer: </div>
            <input [(ngModel)]="prodParam.customer" placeholder="Enter a topic here"/>
            <div class="label">Their Painpoint: </div>
            <input [(ngModel)]="prodParam.pain" placeholder="Enter a topic here"/>
            <div class="go" (click)="FetchProdDetails()">Go</div>
        </div>
        <div class="loader" *ngIf="(fetchingProds&&!showProds)||(fetchingFeat&&!showfeat)"></div>
        <div class="products-wrapper" *ngIf="showProds">
            <ng-container *ngFor="let item of suggestedProducts">
                <div class="options-container" (click)="assessFeature(item)">
                    <!-- <div>{{item.name}}</div> -->
                    <div>{{item.description}}</div>
                    <br>
                    <div>Features list:</div>
                    <ul>
                        <ng-container *ngFor="let feat of item.features">
                            <li>{{feat}}</li>
                        </ng-container>
                    </ul>
                </div>
            </ng-container>
        </div>
        <div class="feat-wrapper" *ngIf="showfeat">
            <table>
                <thead>
                  <tr>
                    <ng-container *ngFor="let item of tableHeader">
                        <th>{{item}}</th>
                    </ng-container>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let feat of featureData">
                    <td>{{ feat.feature }}</td>
                    <td>{{ feat.desirability }}</td>
                    <td>{{ feat.feasibility }}</td>
                    <td>{{ feat.viability }}</td>
                    <td>{{ feat.overall_relevance }}</td>
                  </tr>
                </tbody>
              </table>
              
              
        </div>
        <div class="viz-container">
        </div>
    </div>
</div>